/* General */
body {
	font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
}
a:hover {
	text-decoration: none;
	opacity: 0.5; 
}

.module-separator {
	margin-top: 45px;
}

/* Top Navbar */
.top-navbar-wrapper {
	padding: 0px;
}
.top-navbar-wrapper .top-navbar-border-black {
	height: 15px;
	background-color: #000000;
	width: 100%;
	display: table;
}
.top-navbar-wrapper .top-navbar-border-white {
	height: 15px;
	background-color: #ffffff;
	width: 100%;
	display: table;
}

/* Header */
.header-container {

}

/* Main Navbar */
.navbar-nav {}
.navbar-nav .nav-item {}
.navbar-nav .nav-item.active a{
	color: #1a8f26;
}
.navbar-nav .nav-item a {
	color: #fff;
	text-transform: uppercase;

}

/* Hero Image Slide*/
.background-container {
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	z-index: -1;
}
.black-shade-container {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	height: 100%;
}
.background-container img {
	width: 100%;
}

/* Hero Note Container*/
.hero-main-note-container {
	color: #ffffff;
    padding-top: 3%;
}

.hero-singular-note-container {
    margin-top: 20%;
}
.hero-slide-category {
	border-bottom: 3px solid #1a8f26;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #1a8f26;
}
.hero-slide-title {
	text-transform: uppercase;
}

.hero-sidenotes-container {
	text-transform: uppercase;
	text-align: right;
	list-style: none;
	border-right: 1px solid;
	padding-right: 0px;
}
.hero-note-sidenote-singular {
    padding-right: 20px;
    padding-bottom: 30px;
}
.hero-note-sidenote-singular::after {
		content: ".";
		position: relative;
		right: -27px;
		font-size: 60px;
		top: -100px;
		display: table;
		float: right;
}
.hero-note-sidenote-singular h3 {
		font-size: 1.15rem;
}
.hero-note-sidenote-singular .date {
    font-style: italic;
    font-weight: 100;
    font-size: 1.05rem;
}

/* Mainbody and Modules */
.main-body-container {
	background-color: #ffffff;
	margin-top: 15%;
}

/* Match Modules */
.next-match-boxes-container {
	margin-bottom: 15%;
}
.next-match-module {
    margin-top: -10%;
}
.next-match-module-wrapper {
	width: 100%;
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;

}
.module-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.15rem;
	font-weight: bold;
}
.match-square {}
.team-square {
	width: 65px;
	display: table;
	margin: 0 auto;
}
.team-square .team-1 {
	float: left;
}
.team-square .team-2 {
	float: right;
}
.match-vs {
    text-align: center;
    color: #1a8f26;
    font-weight: bold;
    width: 100%;
    float: left;
    margin-top: 30px;
}
.match-date {
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.95rem;
	font-style: italic;
	float: left;
}

.statics-box {
	text-align: center;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.25rem;
    padding: 5px;
}

/* Fixture Module */
.fixture-module-container {
	border: 2px solid #000000;
	text-transform: uppercase;
	font-size: 0.85rem;
	padding: 0;
	background-color: #000000;
    background-image: url(../../assets/img/leagues/rfef.svg);
	background-size: 120px;
	background-repeat: no-repeat;
	background-position-x: right;
}
.main-title-fixture {
	margin-bottom: 0;
}
.main-title-fixture thead tr th {
	color: #ffffff;
	border: none;
}
.main-title-fixture thead tr th small {
	font-weight: bold;
}
.main-table-title-fixture {
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
    margin-bottom: 0;
}
.main-table-title-fixture thead tr th {
    border-top: none;
    border-bottom: none;
}
.main-body-fixture {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}
.main-body-fixture tr {
    font-size: 0.75rem;
    line-height: 2px;
}
.main-body-fixture tr td {
	border: none;
}
.main-body-fixture tr:nth-child(odd) {
	background-color: #ffffff;	
}
.main-body-fixture tr:nth-child(even) {
	background-color: #cccccc;	
}
.main-body-fixture tr:nth-child(1), .main-body-fixture tr:nth-child(3) {
	background-color: #aec7b2;	
}
.main-body-fixture tr:nth-child(2), .main-body-fixture tr:nth-child(4) {
	background-color: #cde6d1;	
}
.main-body-fixture tr:nth-child(17), .main-body-fixture tr:nth-child(19) {
	background-color: #d6a3a3;	
}
.main-body-fixture tr:nth-child(18), .main-body-fixture tr:nth-child(20) {
	background-color: #f5c2c2;	
}
.main-body-fixture tr:nth-child(16) {
	background-color: #f5dbe4;	
}
.main-body-fixture tr.burgos-club-selector {
	background-color: #000000;
	color: #ffffff;
}

/* Note Display */
.note-display-wrapper {
	margin-top: 35px;
}
.note-display-wrapper.not-separated {
	margin-top: 0px;
}
.note-display-category-wrapper {}
.note-display-category-wrapper .note-display-category {
	color: #1a8f26;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    border-bottom: 3px solid #1a8f26;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.note-display-image-wrapper {}
.note-display-image-wrapper .note-display-image {
	width: 100%;
	float: left;
}
.note-display-image-wrapper .readmore-button {
	float: right;
	margin-top: -55px;
	margin-right: 10px;
}
.note-display-title-wrapper {}
.note-display-title-wrapper .note-display-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.95rem;
	margin-top: 10px;
}

/* ADS */
.img-ads-display {
	width: 100%;
}

/* Footer */
.container-fluid.main-footer-container {
	padding: 0px;
	background-color: #1a1a1a;
}
.container-fluid.main-footer-container .main-footer-design-white {
	width: 100%;
	background-color: #ffffff;
	height: 150px;
}

.container-fluid.main-footer-container .main-footer-design-grass {
	background-image: url(../../assets/img/assets/grass-perspective-png-2-black.png);
	background-color: #ffffff;
	height: 130px;
	background-position-y: -155px;
	background-repeat: repeat-x;
	background-size: 450px;
}		

.container-fluid.main-footer-container.dark-bg {
	background-color: #1a1a1a;
}

.container-fluid.main-footer-container .main-footer-body {

}

.container-fluid.main-footer-container .main-footer-design-line {
	width: 100%;
    background-color: #000000;
    height: 30px;
    border-bottom: 10px solid #ffffff;
}

.footer-module-wrapper {

}
.footer-module-wrapper .footer-module-title {
	font-weight: bold;
	color: #ffffff;
	font-size: 1.3rem;
	text-align: center;
}
.footer-module-wrapper .footer-module-desc {
	color: #ffffff;
	margin-top: 25px;
	text-align: center;
	font-style: italic;
	font-size: 0.95rem;
	letter-spacing: 1px;
}

.footer-module-logo-container {
	
}
.footer-module-logo-container img {
	width: 120px;
	display: table;
	margin: 0 auto;
}

.container.footer-copy-container {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.650rem;
    font-weight: 100;
    letter-spacing: 0.08rem;
    line-height: 0.40rem;
}

.footer-menu-container {
	padding: 30px 0;
}
.footer-menu-container .footer-menu-wrapper {
	list-style: none;
	padding: 0;
	width: auto;
	margin: 0px auto;
	display: table;
}
.footer-menu-container .footer-menu-wrapper .footer-menu-element {
	color: #ffffff;
    float: left;
    margin: 0px 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
}

.footer-menu-container .footer-menu-wrapper .footer-menu-element a {
	color: #ffffff;
}

.container.footer-copy-container .copy-txt {
	font-weight: 400;
}
.container.footer-copy-container .legal-txt {

}
.container.footer-copy-container .legal-txt a {
	color: #cccccc;		
}

/* Note Display Section */
.note-display-inside {
	margin-top: -30%;
	background-color: #fff;
	padding-left: 35px;
	padding-right: 35px;
}

.note-display-author {
	margin-top: 35px;
	margin-bottom: 35px;
}
.note-display-author .note-display-author-text {
	border-bottom: 1px solid #000;
	padding-bottom: 15px;

}
.note-display-author .note-display-author-text .author-name {
	font-weight: bold;
	color: #1a8f26;
}

.note-display-bodytext {
    font-size: 1.25rem;
    font-weight: 500;
}

.note-display-last-news-module-wrapper {
	padding: 0 35px;
}

.note-display-last-news-module {
    padding: 0;
}
.note-display-last-news-text {
    color: #1a8f26;
    font-weight: bold;
    border-bottom: 3px solid #1a8f26;
    padding-bottom: 10px;
}

.note-list-item-display-body-wrapper {
}
.note-list-item-display-body-wrapper .note-display-title {
	font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
.note-list-item-display-body-wrapper .note-display-author {}
.note-list-item-display-body-wrapper .note-display-content {
    margin-bottom: 0;
}
.note-list-item-display-body-wrapper .readmore-button {}

/* Profile Display */
.player-phrase-wrapper {
	padding: 50% 0;
}

.profile-display-field-wrapper {}
.profile-display-field-wrapper .profile-display-field-image {}
.profile-display-field-player {
    position: absolute;
}
.profile-display-field-player i {
	font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
.profile-display-field-player.soccer-player-position {}
.profile-display-field-player.soccer-player-position.portero {
	right: 48%;
    bottom: 6%;
}
.profile-display-field-player.soccer-player-position.defensa {}
.profile-display-field-player.soccer-player-position.centro {}
.profile-display-field-player.soccer-player-position.delantero {}
.profile-display-field-player.soccer-player-position.tecnico {}

.profile-display-tables-wrapper {
	margin-top: 35px;
}
.profile-display-stats-title {
    margin-bottom: 25px;
}
.profile-display-stats-title .profile-display-stats-title-txt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.55rem;
}
.profile-display-tables-container {
	border: 5px solid #000;
    height: 400px;
    float: left;
    display: table;
}
.profile-display-tables-container tbody {}
.profile-display-tables-container tbody tr {}
.profile-display-tables-container tbody tr td {}
.profile-display-tables-container tbody tr td i {}

/* Buttons and Links */
.readmore-button {
	background-color: #1a8f26;
	color: #ffffff;
	font-size: 18px;
	font-style: italic;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: 3%;
	float: left;
}

.readmore-button:hover {
	opacity: 1; 
	background-color: #32ab3f;
	color: #ffffff;
}

.dropdown-menu .dropdown-item{
	color: #000000!important;
}

/* Social Share Buttons */
.display-social-share-box {
	margin-top: 35px;
}
.display-social-share-box .social-share-list-container {
	list-style: none;
	padding: 0;
	width: 100%;
	float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container {
    margin-right: 15px;
    float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container i {
	font-size: 2rem;
}