/* General */
body {
	font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
}
a:hover {
	text-decoration: none;
	opacity: 0.5; 
}

.module-separator {
	margin-top: 45px;
}
.main-header-wrapper {
	padding: 5px 15px 15px 15px;
	position: relative;
	z-index: 1;
}

/* Top Navbar */
.top-navbar-wrapper {
	padding: 0px;
}
.top-navbar-wrapper .top-navbar-border-black {
	height: 15px;
	background-color: #000000;
	width: 100%;
	display: table;
}
.top-navbar-wrapper .top-navbar-border-white {
	height: 15px;
	background-color: #ffffff;
	width: 100%;
	display: table;
}

/* Header */
.header-container {

}

.logo-holder {
	width: 80px;
    margin-top: 0px;
}

/* Main Navbar */
.navbar-nav {}
.navbar-nav .nav-item {}
.navbar-nav .nav-item.active a{
	color: #929e93;
}
.navbar-nav .nav-item a {
	color: #fff;
	text-transform: uppercase;

}

/* Hero Image Slide*/
.background-container {
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	z-index: -1;
}
.black-shade-container {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	height: 100%;
}
.background-container img {
	width: 100%;
}

/* Mainbody and Modules */
.main-body-container {
	background-color: #ffffff;
	margin-top: 0%;
}

/* Match Modules */
.next-match-boxes-container {
	margin-bottom: 5%;
}
.next-match-module {
    margin-top: -10%;
}
.next-match-module-wrapper {
	width: 100%;
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;

}
.module-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.15rem;
	font-weight: bold;
}
.match-square {}
.team-square {
	width: 65px;
	display: table;
	margin: 0 auto;
}
.team-square .team-1 {
	float: left;
}
.team-square .team-2 {
	float: right;
}
.match-vs {
    text-align: center;
    color: #929e93;
    font-weight: bold;
    width: 100%;
    float: left;
    margin-top: 30px;
}
.match-date {
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.95rem;
	font-style: italic;
	float: left;
	margin-top: 10px;
	margin-bottom: 35px;
}
.stats-module-wrapper {
    width: 100%;
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    float: left;
}
.statics-box {
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	font-weight: bold;
	float: left;
	width: 100%;
}
.subscribers_number {
	width: 100%;
	float: left;
	font-size: 2rem;
	margin-bottom: 5px;
	height: auto;
}
.subscribers_txt {
	width: 100%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
/* Fixture Module */
.fixture-module-container {
	border: 2px solid #000000;
	text-transform: uppercase;
	font-size: 0.85rem;
	padding: 0;
	background-color: #000000;
    background-image: url(../../assets/img/leagues/rfef.svg);
	background-size: 120px;
	background-repeat: no-repeat;
	background-position-x: right;
}
.main-title-fixture {
	margin-bottom: 0;
}
.main-title-fixture thead tr th {
	color: #ffffff;
	border: none;
}
.main-title-fixture thead tr th small {
	font-weight: bold;
}
.main-table-title-fixture {
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
    margin-bottom: 0;
}
.main-table-title-fixture thead tr th {
    border-top: none;
    border-bottom: none;
}
.main-body-fixture {
	background-color: #ffffff;
	color: #000000;
}
.main-body-fixture tr {
	font-size: 0.8rem;
	line-height: 2px;
	font-weight: 500;
}
.main-body-fixture tr td {
	border: none;
	vertical-align: initial;
}
.main-body-fixture tr:nth-child(odd) {
	background-color: #ffffff;	
}
.main-body-fixture tr:nth-child(even) {
	background-color: #cccccc;	
}
.main-body-fixture tr:nth-child(1), .main-body-fixture tr:nth-child(3) {
	background-color: #aec7b2;	
}
.main-body-fixture tr:nth-child(2), .main-body-fixture tr:nth-child(4) {
	background-color: #cde6d1;	
}
.main-body-fixture tr:nth-child(17), .main-body-fixture tr:nth-child(19) {
	background-color: #d6a3a3;	
}
.main-body-fixture tr:nth-child(18), .main-body-fixture tr:nth-child(20) {
	background-color: #f5c2c2;	
}
.main-body-fixture tr:nth-child(16) {
	background-color: #f5dbe4;	
}
.main-body-fixture tr.burgos-club-selector {
	background-color: #000000;
	font-weight: bold;
	color: #ffffff;
}
.view-class-position {
	color: #000;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 5px;
    letter-spacing: 0.1rem;
}
.view-class-position:hover {
	color: #000;
}
.main-table-title-fixture-complete {
    font-size: 1rem;
}
.main-table-title-fixture-complete .main-body-fixture {

}
.main-table-title-fixture-complete .main-body-fixture tr {
	font-size: 1rem;
	line-height: 1rem;
}
.main-title-fixture-complete {
	font-size: 1.2rem;
}
/* Note Display */
.note-display-wrapper {
	margin-top: 35px;
}
.note-display-wrapper.not-separated {
	margin-top: 0px;
}
.note-display-category-wrapper {}
.note-display-category-wrapper .note-display-category {
	color: #929e93;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    border-bottom: 3px solid #929e93;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.note-display-image-wrapper {}
.note-display-image-wrapper .note-display-image {
	width: 100%;
	float: left;
}
.note-display-image-wrapper .readmore-button {
	float: right;
	margin-top: -55px;
	margin-right: 10px;
}
.note-display-title-wrapper {}
.note-display-title-wrapper .note-display-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.95rem;
	margin-top: 10px;
}
.subsection-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 10px;
}
.single-note-slug-featured {
	color: #000000;
}
.single-note-slug-featured:hover {
	color: #828282;
}
/* ADS */
.img-ads-display {
	width: 100%;
}
.three_columns_ads {
	margin-top: 0;
	margin-bottom: 65px;
}

.three_columns_ads a {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

/* Footer */
.container-fluid.main-footer-container {
	padding: 0px;
	background-color: #1a1a1a;
}
.container-fluid.main-footer-container .main-footer-design-white {
	width: 100%;
	background-color: #ffffff;
	height: 150px;
}

.container-fluid.main-footer-container .main-footer-design-grass {
	background-image: url(../../assets/img/assets/grunge.png);
	background-color: #ffffff;
	height: 130px;
	background-position-y: -155px;
	background-repeat: repeat-x;
	background-size: 450px;
}		

.container-fluid.main-footer-container.dark-bg {
	background-color: #1a1a1a;
}

.container-fluid.main-footer-container .main-footer-body {

}

.container-fluid.main-footer-container .main-footer-design-line {
	width: 100%;
    background-color: #000000;
    height: 30px;
    border-bottom: 10px solid #ffffff;
}

.footer-module-wrapper {

}
.footer-module-wrapper .footer-module-title {
	font-weight: bold;
	color: #ffffff;
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 15px;
}
.footer-module-wrapper .footer-module-desc {
	color: #ffffff;
	margin-top: 25px;
	text-align: center;
	font-style: italic;
	font-size: 0.95rem;
	letter-spacing: 1px;
	width: 100%;
	float: left;
}

.footer-module-logo-container {
	
}
.footer-module-logo-container img {
	width: 120px;
	display: table;
	margin: 0 auto;
}

.container.footer-copy-container {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.650rem;
    font-weight: 100;
    letter-spacing: 0.08rem;
    line-height: 0.40rem;
}

.footer-menu-container {
	padding: 30px 0;
}
.footer-menu-container .footer-menu-wrapper {
	list-style: none;
	padding: 0;
	width: auto;
	margin: 0px auto;
	display: table;
}
.footer-menu-container .footer-menu-wrapper .footer-menu-element {
	color: #ffffff;
    float: left;
    margin: 0px 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
}

.footer-menu-container .footer-menu-wrapper .footer-menu-element a {
	color: #ffffff;
}

.container.footer-copy-container .copy-txt {
	font-weight: 400;
}
.container.footer-copy-container .legal-txt {

}
.container.footer-copy-container .legal-txt a {
	color: #cccccc;		
}

.newsletter-alert {
    margin-top: 30px;
    border-radius: 0;
    text-align: center;
    font-size: 0.9rem;
} 
.newsletter-alert.success {
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #43a047;
}
.newsletter-alert.danger {
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #d32f2f;
}
#alert_trigger_suc {
	display: none;
}
#alert_trigger_dan {
	display: none;
}

/* Note Display Section */
.note-display-inside {
	margin-top: -30%;
	background-color: #fff;
	padding-left: 35px;
	padding-right: 35px;
}

.note-display-author {
	margin-top: 35px;
	margin-bottom: 35px;
}
.note-display-author .note-display-author-text {
	border-bottom: 1px solid #000;
	padding-bottom: 15px;

}
.note-display-author .note-display-author-text .author-name {
	font-weight: bold;
	color: #929e93;
}

.note-display-bodytext {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1rem;
}

.note-display-bodytext span, .note-display-bodytext p {
	font-size: 18px!important;
}

.note-display-last-news-module-wrapper {
	padding: 0 35px;
}

.note-display-last-news-module {
    padding: 0;
}
.note-display-last-news-text {
    color: #929e93;
    font-weight: bold;
    border-bottom: 3px solid #929e93;
    padding-bottom: 10px;
}

.note-list-item-display-body-wrapper {
}
.note-list-item-display-body-wrapper .note-display-title {
	font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
.note-list-item-display-body-wrapper .note-display-author {}
.note-list-item-display-body-wrapper .note-display-content {
    margin-bottom: 0;
}
.note-list-item-display-body-wrapper .readmore-button {}

/* Team Display */
.team-display-wrapper {
	margin-right: 0px;
	margin-left: 0px;
}

/* Profile Display */
.player-phrase-wrapper {
	padding: 50% 0;
}

.profile-display-field-wrapper {}
.profile-display-field-wrapper .profile-display-field-image {}
.profile-display-field-player {
    position: absolute;
}
.profile-display-field-player i {
	font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
.profile-display-field-player.soccer-player-position {}
.profile-display-field-player.soccer-player-position.soccer-player-position-1 {
	right: 48%;
    bottom: 6%;
}
.profile-display-field-player.soccer-player-position.soccer-player-position-2 {
	right: 48%;
	bottom: 24%;
}
.profile-display-field-player.soccer-player-position.soccer-player-position-3 {
	right: 48%;
	bottom: 51%;
}
.profile-display-field-player.soccer-player-position.soccer-player-position-4 {
	right: 48%;
	bottom: 75%;
}
.profile-display-field-player.soccer-player-position.centro {}
.profile-display-field-player.soccer-player-position.delantero {}
.profile-display-field-player.soccer-player-position.tecnico {}

.profile-display-tables-wrapper {
	margin-top: 35px;
}
.profile-display-stats-title {
    margin-bottom: 25px;
}
.profile-display-stats-title .profile-display-stats-title-txt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.55rem;
}
.profile-display-tables-container {
	border: 5px solid #000;
    height: 400px;
    float: left;
    display: table;
}
.profile-display-tables-container tbody {}
.profile-display-tables-container tbody tr {}
.profile-display-tables-container tbody tr td {}
.profile-display-tables-container tbody tr td i {}


/* Partners */
/* Section */
.partner-display-support {
	
}
.partner-display-support .partner-display-wrapper {
	width: 100%;
}
.partner-display-support .partner-display-wrapper .partner-display-img {
	width: 100%;	
}
.partners-title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 10%;
}
/* Home */

/* Buttons and Links */
.readmore-button {
	background-color: #929e93;
	color: #ffffff;
	font-size: 18px;
	font-style: italic;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: 3%;
	float: left;
}

.readmore-button:hover {
	opacity: 1; 
	background-color: #636363;
	color: #ffffff;
}

.dropdown-menu .dropdown-item{
	color: #000000!important;
}

.mailchimp-form-input {
	width: 100%;
    height: 40px;
    text-align: center;
    font-style: italic;
    border: none;
}

.readmore-button-mailchimp {
    background-color: #929e93;
    color: #ffffff;
    font-size: 18px;
    font-style: italic;
    padding: 8px 20px;
    text-transform: uppercase;
    margin-top: 3%;
    border-radius: 0;
    float: left;
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.readmore-button:hover {
	opacity: 1; 
	background-color: #ffffff;
	color: #929e93;
}

/* Common Elements */
.element-listing-container {
	margin-bottom: 15px;
	border: none;
}
.element-listing-container a {
	color: #000000;
}
.element-listing-container a:hover {
	color: #828282;
}
/* Social Share Buttons */
.display-social-share-box {
	margin-top: 35px;
}
.display-social-share-box .social-share-list-container {
	list-style: none;
	padding: 0;
	width: 100%;
	float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container {
    margin-right: 15px;
    float: left;
}
.display-social-share-box .social-share-list-container .social-share-list-item-container i {
	font-size: 2rem;
}

.display-social-share-box.footer-social {
	margin-top: 35px;
}
.display-social-share-box.footer-social .social-share-list-container {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: table;
    width: auto;
    float: inherit;
}
.display-social-share-box.footer-social .social-share-list-container .social-share-list-item-container {
    margin-right: 15px;
    float: left;
}

.display-social-share-box.footer-social .social-share-list-container .social-share-list-item-container a {
    color: #ffffff;
    font-size: 2rem;
}
.display-social-share-box.footer-social .social-share-list-container .social-share-list-item-container a i {
	font-size: 2rem;
}

/* Calendar Component */
.calendar-wrapper-display {
	border: 1px solid #000;
	padding: 3%;
	width: 100%;
	float: left;
	display: table;
	margin-top: 1%;
	table-layout: fixed;
}
.calendar-head-wrapper {

}
.calendar-wrapper-display tbody {}

.calendar-header-wrapper-row {
    width: auto;
    float: inherit;
    height: 35px;
	background-color: #000000;
}
.calendar-header-wrapper-cell {
    text-align: center;
	color: #ffffff;
}
.calendar-header-wrapper-cell a {
	color: #ffffff;
}

.calendar-main-wrapper-row {}
.calendar-main-wrapper-cell {
	text-align: center;
	background-color: #000;
	color: #fff;
	letter-spacing: 2px;
}

.calendar-cal-wrapper-row {
    height: 150px;
}
.calendar-cal-wrapper-cell {
    border: 1px solid #dee2e6;
    padding: 0!important;
}
/* Events */
.event-row {
    font-size: 1rem;
    text-align: center;
    line-height: 1.3rem;
    color: #000000;
}
.event-row:hover {
    color: #828282;
}
.event-wrapper {
	padding: 0.75rem;
	height: 150px;
}
.event-wrapper .match {}
.event-day {}
.event-view {}
.event-view a {
	color: #000000;
	font-weight: bold;
}
.event-title {}
.event-first-team {
	width: 33.3333333%;
	float: left;
}
.event-first-team img {
	width: 50px;
}
.event-vs {
	width: 33.3333333%;
	float: left;
    line-height: 45px;
}
.event-second-team {
	width: 33.3333333%;
	float: left;
}
.event-second-team img {
	width: 50px;	
}
.event-stadium {
	font-style: italic;
    margin-top: 5px;
}
.event-time {
	margin-top: 5px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.event-view-detail {
	margin-bottom: 2px;
    font-size: 0.9rem;
}
.event-buy-ticket {
	font-size: 0.9rem;
}

.teams-wrap {

}
.teams-wrap h2 {
    text-align: center;
    font-weight: bold;
    font-style: italic;	
}
.teams-wrap .match-container {
	display: table;
	margin: 0 auto 15px auto;
}
.teams-wrap .match-container .team-img {
	width: 180px;
}
.teams-wrap .match-container .vs-wrap {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 20px;
}
.readmore-button.buy-tickets {
	margin: 0 auto;
	display: table;
	float: inherit;
}

.match_link {
	color: #000000;
}
.match_link:hover {
	color: #828282;
}


/* Hero Note Container*/
.hero-main-note-container {
	color: #ffffff;
    padding-top: 3%;
}

.hero-singular-note-container {
    margin-top: 20%;
}
.hero-slide-category {
	border-bottom: 3px solid #929e93;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #929e93;
}
.hero-slide-title {
	text-transform: uppercase;
}

.hero-sidenotes-container {
	text-transform: uppercase;
	text-align: right;
	list-style: none;
	border-right: 1px solid;
	padding-right: 0px;
}
.hero-note-sidenote-singular {
    padding-right: 20px;
    padding-bottom: 30px;
}
/*.hero-note-sidenote-singular::after {
		content: ".";
		position: relative;
		right: -27px;
		font-size: 60px;
		top: -100px;
		display: table;
		float: right;
}*/
.hero-note-sidenote-singular h3 {
		font-size: 1.15rem;
}
.hero-note-sidenote-singular .date {
    font-style: italic;
    font-weight: 100;
    font-size: 1.05rem;
}
/* Carousel System */
.hero-image-container {
    height: 75vh;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    z-index: 0;
    margin-top: -5%;
}
.carousel {
	background:#444;
}
.carousel-item .img-fluid {
	width:100%;
	height:auto;
}
.carousel-item a {
	display: block;
	width:100%;
}
.hero-slide-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 90vh;
}
.hero-slide-container.for-simplex {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 30vh;
}
.hero-main-note-container {
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
/*.carousel-indicators {
    position: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    z-index: 15;
    display: inherit;
    display: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    padding-left: inherit;
    margin-right: inherit;
    margin-left: inherit;
    list-style: inherit;
}
.carousel-indicators li {
    box-sizing: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: inherit;
    height: inherit;
    margin-right: inherit;
    margin-left: inherit;
    text-indent: inherit;
    cursor: pointer;
    background-color: inherit;
    background-clip: inherit;
    border-top: inherit;
    border-bottom: inherit;
    opacity: inherit;
    transition: inherit;
}*/
/*.carousel-indicators.hero-sidenotes-container {
    width: 20%;
    list-style-type: none;
    position: absolute;
    z-index: 3;
    color: #fff;
    right: 0!important;
    top: 20%;
    border-right: 1px solid #fff;
    margin-right: 20%;
}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular {
	padding: 0 21.5px 0px 0px;
	margin: 0px 0px 15px 0px;
	float: right;
	width: 100%;
	height: 115px;
}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular.active {

}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular::after {
    opacity: 0.65;
}
.carousel-indicators.hero-sidenotes-container li.hero-note-sidenote-singular.active::after {
    opacity: 1;
}
*/
.carousel-item a {
	display: inherit; 
	width: auto;
}

/* MediaVideo Player*/
.mediavideo_wrapper {
    left: auto!important;
    width: 100%;
    position: relative!important;
    top: auto!important;
}
.mediavideo_wrapper.full_article {
	height: 60vh;
	padding-bottom: 10vh;
}
.iframe-wrapper {
    padding-bottom: 45%!important;
}

/* Twitter Feed */
#twitter_wrapper {

}

#twitter_wrapper .tweet_list {
    list-style-type: none;
    padding: 0;
}
#twitter_wrapper .tweet_list li {
    overflow: hidden;
    margin-bottom: 25px;
}
#twitter_wrapper .user {
	padding: 5px 10px;
}

#twitter_wrapper .user a[data-scribe="element:user_link"] {
	float: left;
	width: 20%;
}
#twitter_wrapper .user a[data-scribe="element:user_link"] img[data-scribe="element:avatar"] {
	width: 100%;
}

#twitter_wrapper .user div[data-scribe="component:author"] {
	float: left;
	width: 80%;
}
#twitter_wrapper .user div[data-scribe="component:author"] a[data-scribe="element:user_link"] {
    width: 100%;
    padding-left: 10px;
    color: #000;
    font-weight: bold;
}

.tweet {
	float: left;
	width: 100%;
	margin-top: 5px;
}

.tweet a {
	color: #000000;
	font-weight: bold;
}

.timePosted {
	float: left;
	width: 100%;
}

.timePosted a {
	color: #000000;
	font-weight: bold;
}

.media {
	float: left;
	width: 100%;
}

.media img {
    width: 100%;
}
.twitter-feed-title {
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 10px;
}
.twitter-feed-title a {
	color: #000000;
	font-weight: bold;
}

/* General Fixes */
.stats-box-wrapper {

}
/* Mobile Fixes */
/*@media only screen and (min-width: 600px) and (min-width: 400px)  {

}*/
/* Mobile Assets */
.regular-header-wrapper {

}
.mobile-header-wrapper {

}

.mobile-header-wrapper .navbar-brand {
	margin: 0 auto;
	width: 150px;
	display: table;
}
.mobile-header-wrapper .navbar-light .navbar-toggler {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0.75rem 0.75rem;

}
.mobile-header-wrapper .navbar-nav .nav-item {
    text-align: center;
}
.mobile-header-wrapper .navbar-nav .dropdown-menu {
    text-align: center;
}
.mobile-header-wrapper .navbar-light .navbar-toggler {
	background-color: #ffffff;
	border-radius: 0;
	margin-bottom: -1px;
}
.internal-wrapper {

}

.mobile-header-wrapper .navbar-collapse {
	background-color: rgb(255, 255, 255);
    padding: 22px 0px;
}

.home-table-name-desktop {
	display: inherit;
}
.home-table-name-mobile {
	display: none;
}

/* Custom Banners */
.video-in-column {
	width: 100%;
}
.custom-banner {
	width: 100%;
}

/* 320 Media */
@media only screen and (max-width: 374px) and (min-width: 320px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 45vh;
	}
	.internal-wrapper {
	    margin-top: -40%;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
	.footer-menu-container {}
	.footer-menu-wrapper {
	    padding: 0px 15px;
	}
	.footer-menu-element {
		width: 100%;
	    text-align: center;
	}
	.container.footer-copy-container .copy-txt {
	    font-weight: 400;
	    margin-bottom: 25px;
	    line-height: 25px;
	}
	.note-display-image-wrapper .readmore-button {
		display: none;
	}
	.hero-slide-category {
	    font-size: 1.2rem;
	    text-align: center;
	}
	.hero-slide-title {
	    font-size: 1.5rem;
	}
	.carousel-item a {
	    width: 100%;
	    text-align: center;
	}
	.next-match-module-wrapper {
	    margin: 0;
	}
	.container.footer-copy-container .legal-txt {
	    line-height: 25px;
	}
	.mobile-header-wrapper .navbar-brand {
	    width: 100px;
	}
	.note-display-title-wrapper .note-display-title {
	    font-size: 1.25rem;
	}

}

/* 375 Media */
@media only screen and (max-width: 424px) and (min-width: 375px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 45vh;
	}
	.internal-wrapper {
	    margin-top: -40%;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
	.footer-menu-container {}
	.footer-menu-wrapper {
	    padding: 0px 15px;
	}
	.footer-menu-element {
		width: 100%;
	    text-align: center;
	}
	.container.footer-copy-container .copy-txt {
	    font-weight: 400;
	    margin-bottom: 25px;
	    line-height: 25px;
	}
	.note-display-image-wrapper .readmore-button {
		display: none;
	}
	.hero-slide-category {
	    font-size: 1.2rem;
	    text-align: center;
	}
	.hero-slide-title {
	    font-size: 1.5rem;
	}
	.carousel-item a {
	    width: 100%;
	    text-align: center;
	}
	.next-match-module-wrapper {
	    margin: 0;
	}
	.container.footer-copy-container .legal-txt {
	    line-height: 25px;
	}
	.mobile-header-wrapper .navbar-brand {
	    width: 130px;
	}

}

/* 425 Media */
@media only screen and (max-width: 767px) and (min-width: 425px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 75vh;
	}
	.internal-wrapper {
	    margin-top: -40%;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
	.footer-menu-container {}
	.footer-menu-wrapper {
	    padding: 0px 15px;
	}
	.footer-menu-element {
		width: 100%;
	    text-align: center;
	}
	.container.footer-copy-container .copy-txt {
	    font-weight: 400;
	    margin-bottom: 25px;
	    line-height: 25px;
	}
	.next-match-module-wrapper {
	    margin: 0;
	}
}

/* 768 Media */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.internal-wrapper-header .mobile-header-wrapper .bn_logo {
		display: none;
	}
	.internal-wrapper-header .mobile-header-wrapper .w_logo {
		display: inherit;
	}

	.stats-box-wrapper, .vertical-ads-wrapper {
		display: none;
	}
	.md-single-note-render-wrapper {
		display: none;
	}
	.hero-sidenotes-container {
		display: none;
	}
	h1, .h1 {
	    font-size: 2.2rem;
	}
	.main-title-fixture {
	    font-size: 1.2rem;
	}
	.main-body-fixture tr {
	    font-size: 1.2rem;
	}
	.regular-header-wrapper {
	    display: none;
	}
	.hero-image-container {
	    margin-top: 0%;
	    height: 60vh;
	}
	.internal-wrapper {
	    margin-top: -15%;
	}
	.note-list-item-display-body-wrapper .readmore-button {
		width: 100%;
		text-align: center;
	}
	.note-display-category-wrapper .note-display-category {
	    margin-top: 10px;
	}
}
/* 1024 Media */
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
	.hero-image-container {
	    margin-top: -14.5%!important;
        height: 100vh;
	}
	.hero-sidenotes-container {
		display: none;
	}
	.main-body-container {
		margin-top: 5%;
	}
	.header-container {
	    margin-top: 2%;
	}
	.md-single-note-render-wrapper {
		display: inherit;
	}
	.vertical-ads-wrapper {
		display: inherit;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		font-size: 0.88rem;
	}
	.header-container navbar.navbar-expand-lg {
		padding: 0.4rem 0.1rem;
	}
	h1, .h1 {
	    font-size: 2.2rem;
	}
	.stats-box-wrapper {
		display: inherit;
	}
	.regular-header-wrapper {
	    display: inherit;
	}
	.mobile-header-wrapper {
		display: none;
	}
}
/* 1440 Media */
@media only screen and (min-width: 1440px) {
	.mobile-header-wrapper {
		display: none;
	}
	.hero-image-container {
	    margin-top: -7%!important;
	    height: 80vh;
	}
	.carousel-indicators.hero-sidenotes-container {
	    right: 11.5%;
	}
	.main-body-container {
		margin-top: 5%;
	}

}

/* Style Fixes */
.event_title {
	text-align: center;
	font-size: 1.3rem;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	text-transform: uppercase;
	line-height: 1.3rem;
}

.partner-display-support .partner-display-wrapper .partner-display-img {
    width: 65%;
    margin: 0 auto;
    display: table;
}

.next-match-module-wrapper .module-title {
	margin-top: 15px;
}

.profile-display-field-player svg {
	font-size: 2rem;
    color: #fff;
}

/* General Fixes AND Addons */
.carousel-indicators li {
    box-sizing: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: inherit;
    height: inherit;
    margin-right: inherit;
    margin-left: inherit;
    text-indent: inherit;
    cursor: inherit;
    background-color: inherit;
    background-clip: inherit;
    border-top: inherit;
    border-bottom: inherit;
    opacity: inherit;
    transition: inherit;
}
.carousel-indicators.hero-sidenotes-container {
	list-style-type: none;
	color: #fff;
	position: inherit;
	padding: 0;
	margin: 0 auto;
	border-top: 2px solid #ffffff;
	padding-top: 10px;
	border-left: inherit;
	border-right: inherit;
	margin-top: -30vh;
}
.hero-note-sidenote-singular {
    float: left;
    width: auto!important;
    margin-right: 5px!important;
    height: auto!important;
    border-top: none!important;
    padding: 0 20px;
    text-align: left;
    opacity: 0.4!important;
}
.hero-note-sidenote-singular.active {
	opacity: 1!important;
	transition: opacity 1s;
}
.hero-note-sidenote-singular::before {
    content: ".";
    font-size: 0;
    float: left;
    margin-top: -15px;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #ffffff;
}
.hero-note-sidenote-singular h3 {
    font-size: 1rem;
}
.hero-note-sidenote-singular .date {
    font-style: italic;
    font-weight: 100;
    font-size: 1rem;
}
.carousel-indicators li {
    box-sizing: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: inherit;
    height: inherit;
    margin-right: inherit;
    margin-left: inherit;
    text-indent: inherit;
    cursor: inherit;
    background-color: inherit;
    background-clip: inherit;
    border-top: inherit;
    border-bottom: inherit;
    opacity: inherit;
    transition: inherit;
    padding-left: 5px;
}


.twitter_blob {
	color:rgba(29,161,242,1.00);
}
.wp-block-embed-youtube {
	width: 100%;
}
.static_page_carousel {
	padding: 0;
}


/* Loading Animation */
.loading-context {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	z-index: 10;
	opacity: 0.8;
}
.video-holder {
    margin: 0 auto;
    display: table;
    width: 60%;
    margin-top: 5%;
}
.video-holder video {
	width: 100%;
}


/* Media Queries Slide Fixes*/
@media only screen and (min-width: 1440px) {
	.hero-image-container {
	    margin-top: -17vh!important;
	    height: 80vh;
	}
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
	.hero-image-container {
	    margin-top: -15%!important;
	    height: 70vh;
	}
	.hero-singular-note-container {
		margin-top: 15vh;
		padding: 0 10%;
	}
	.main-message-hero {
	    margin-top: 14%;
	    padding: 0 10%;
	}
	.hero-main-note-container {
	    background-size: auto 100%;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.hero-singular-note-container {
		margin-top: 15vh;
		padding: 0 10%;
	}
	.hero-image-container {
	    margin-bottom: 5%;
	}
}

@media only screen and (max-width: 767px) and (min-width: 425px) {
	.main-message-hero {
        margin-top: 20vh;
	    padding: 0 10%;
	}
	.hero-main-note-container {
	    background-size: auto 100%;
	}
}

/*.top-navbar-wrapper {
    display: none;
}*/

/* General Fixes - Navbar */
.user-navbar-wrapper {
    background-color: #888888;
    padding: 10px 0px;
    height: 50px;
    z-index: 2;
    position: relative;
}
.top-navbar-wrapper {
    padding: 0px;
    position: relative;
    top: 0;
    height: 30px;
    z-index: 3;
}
.main-header-wrapper {
    padding: 2vh 15px 15px 15px;
    position: relative;
    z-index: 1;
    margin-top: 0vh;
}

@media only screen and (min-width: 1440px) {
	.hero-image-container {
	    height: 80vh;
	    top: -2vh;
	    position: relative;
	}
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
	.hero-image-container {
	    margin-top: -22vh!important;
	    height: 85vh;
	}
	.hero-main-note-container {
	    background-size: 100%;
	}
	.hero-singular-note-container {
	    margin-top: 23vh;
	    padding: 0 10%;
	}
}
@media only screen and (max-width: 767px) and (min-width: 425px) {
	.hero-image-container {
	    margin-bottom: 5vh;
	}
}
/* General Fixes - Navbar END */

/* Cookie Bar */
.cookie_bar {
    position: fixed;
    z-index: 3;
    bottom: 0;
    border-radius: 0;
    margin-bottom: 0;
    background-color: #888888;
    color: #fff;
    border: none;
    border-top: 1px solid #fff;
    font-size: 0.9em;
}
.cookie_bar p {

}
.cookie_bar .keep_btn {
    background-color: #080000;
    color: #ffffff;
    font-size: 0.9em;
    font-style: italic;
    padding: 4px 13px;
    text-transform: uppercase;
    font-weight: 100;
    float: left;
}
/* Cookie Bar End */

/* General Fixes - Notes display */
.iframe-wrapper {
    padding-bottom: 1%!important;
    height: auto!important;
}
.hero-sidenotes-container {
	display: none;
}
.internal-wrapper-header .hero-image-container {
    z-index: -1;
}
/* General Fixes - Notes display End */

/* Audio Player - Module */
.audiplayer_module {
    margin: 0 auto;
    display: table;
}
/* Audio Player - Module End */